#container {
    /* width: 1145px; */
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

.header-cabecalho {
    background: url('../img/capa2.png') no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto 50px auto;
    width: auto;
    height: 330px;
}

#cabecalho_texto {
    background: #fff;
    /* width: 450px; */
    width: 40%;
    border-radius: 10px;
    border: 5px solid;
    border-color: #f00 #0f0 #00f #fc0;
    position: relative;
    top: 43%;
    opacity: 80%;
    margin-left: 8%;
    padding-left: 0.05%;
    padding-bottom: 0.05%;
}

.header h2 {
    color: #f37;
    margin-left: 5%;
    font-weight: bold;
    font-size: 1em;
}

.header p {
    color: #00f;
    margin-left: 3%;
    /* font-size: clamp(1em, 1em + 1vw, 1.5em); */
    font-size: .5em;
    font-weight: bold;
}

footer {
    width: auto;
    height: 256px;
    background: lightsalmon;
}